form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 8px;
  min-width: 450px;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.half-width {
  flex: 1;
}

.phone-type {
  width: 120px;
}

.sms-info {
  color: #1976d2;
  font-size: 12px;
  margin-top: 4px;
}
